@charset "utf-8";

//ヘッダー
.p-header {
    background: $headerPink;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    @include box-shadow;

    &__inner {
        width: 100%;

        &.active {
            &:before {
                @include max-screen($breakpoint-mobile) {
                    content: "";
                    width: 30px;
                    height: 30px;
                    background: url(images/sp_header_close.png) top left no-repeat;
                    background-size: 30px;
                    margin-top: 60px;
                    position: absolute;
                    top: -45px;
                    left: 1em;
                }
            }
        }

        &:before {
            @include max-screen($breakpoint-mobile) {
                content: "";
                width: 30px;
                height: 30px;
                background: url(images/sp_header_menu.png) top left no-repeat;
                background-size: 30px;
                margin-top: 60px;
                position: absolute;
                top: -45px;
                left: 1em;
            }
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 450;

        @include max-screen($breakpoint-tablet) {
            font-size: 1.6rem;
        }

        @include max-screen($breakpoint-mobile) {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            flex-direction: column;
            font-size: 1.6rem;
            background: $headerPink;
            transform: scale(0);
            opacity: 0;
            transform-origin: top left;
            transition: all .5s ease;
        }

        &.active {
            @include max-screen($breakpoint-mobile) {
                transform: scale(1);
                opacity: 1;
                transform-origin: top left;
                transition: all .5s ease;
            }
        }

        &__item {
            padding: .5em 1em;
            display: block;

            @include max-screen($breakpoint-mobile) {
                width: 100%;
                text-align: center;
            }

            &:not(:last-of-type) {
                &:after {
                    @include max-screen($breakpoint-mobile) {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: $pink3;
                        display: block;
                        margin-top: .5em;
                    }
                }
            }

            &:link,
            &:visited {
                color: $fontColorMain;
            }

            &:hover {
                background: $fontColorMain;
                color: $headerPink;
            }
        }
    }
}

//first view
.p-fv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    @include max-screen($breakpoint-tablet) {
        padding-bottom: 2em;
    }

    @include max-screen($breakpoint-mobile) {
        flex-direction: column;
    }

    &__img {
        width: 48%;

        @include max-screen($breakpoint-mobile) {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 4em;

        @include max-screen($breakpoint-desktop) {
            margin-left: 2em;
        }

        @include max-screen($breakpoint-mobile) {
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    &__ttl {
        font-size: 7.2rem;
        font-weight: 600;
        display: block;
        text-align: center;
        line-height: .8;
        margin-bottom: .6em;

        @include max-screen($breakpoint-desktop) {
            font-size: 6rem;
        }

        @include max-screen($breakpoint-tablet) {
            font-size: 4.8rem;
        }

        @include max-screen($breakpoint-mobile) {
            font-size: 3.6rem;
        }

        &--bg {
            display: block;
            font-size: 12rem;
            opacity: .15;
            white-space: nowrap;

            @include max-screen($breakpoint-desktop) {
                font-size: 10rem;
            }

            @include max-screen($breakpoint-tablet) {
                font-size: 8rem;
            }

            @include max-screen($breakpoint-mobile) {
                font-size: 6.0rem;
            }
        }
    }

    &__sub {
        display: block;
        font-size: 2.4rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2em;
        word-wrap: break-word;

        @include max-screen($breakpoint-desktop) {
            font-size: 1.6rem;
        }
    }

    &__btn {
        background: $fontColorMain;
        text-align: center;
        color: $pink2;
        font-size: 2.4rem;
        font-weight: 400;
        padding: 1em 2em;

        &:link,
        &:visited {
            color: $pink2;
        }

        @include max-screen($breakpoint-desktop) {
            font-size: 1.6rem;
        }
    }
}

.p-who {
    &__ttl {
        background: url(images/pc_who_bg@2x.jpg) top left no-repeat;
        background-size: cover;
        padding: 2em 0 3em;
        @extend .bg-full;
        font-size: 6rem;
        font-weight: 600;
        display: block;
        text-align: center;
        line-height: .8;

        @include max-screen($breakpoint-desktop) {
            font-size: 6rem;
        }

        @include max-screen($breakpoint-tablet) {
            font-size: 4.8rem;
            padding: 1.5em 0 2.5em;
        }

        @include max-screen($breakpoint-mobile) {
            font-size: 3.6rem;
        }

        &--bg {
            display: block;
            font-size: 12rem;
            opacity: .15;
            white-space: nowrap;
            @extend .breaking-out;

            @include max-screen($breakpoint-desktop) {
                font-size: 10rem;
            }

            @include max-screen($breakpoint-tablet) {
                font-size: 8rem;
            }

            @include max-screen($breakpoint-mobile) {
                font-size: 6.0rem;
            }
        }
    }

    &__content {
        width: 100%;
        margin-top: -8em;

        @include max-screen($breakpoint-tablet) {
            margin-top: -4em;
        }

        img {
            width: 100%;
        }
    }
}

.p-work {
    padding: 6em 0;

    @include max-screen($breakpoint-tablet) {
        padding: 3em 0;
    }

    &__ttl {
        font-size: 6rem;
        font-weight: 600;
        display: block;
        text-align: center;
        line-height: .8;
        margin-bottom: 1.5em;

        @include max-screen($breakpoint-desktop) {
            font-size: 6rem;
        }

        @include max-screen($breakpoint-tablet) {
            font-size: 4.8rem;
        }

        @include max-screen($breakpoint-mobile) {
            font-size: 3.6rem;
        }

        &--bg {
            display: block;
            font-size: 12rem;
            opacity: .15;
            white-space: nowrap;
            @extend .breaking-out;

            @include max-screen($breakpoint-desktop) {
                font-size: 10rem;
            }

            @include max-screen($breakpoint-tablet) {
                font-size: 8rem;
            }

            @include max-screen($breakpoint-mobile) {
                font-size: 6.0rem;
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
        @include max-screen($breakpoint-tablet){
            justify-content: space-between;
        }

        &__item {
            width: calc((100% - 32px) / 3);
            margin-bottom: 16px;
            position: relative;

            @include max-screen($breakpoint-tablet) {
                width: calc((100% - 16px) / 2);
            }

            @include max-screen($breakpoint-mobile) {
                width: 100%;
            }
            &:not(:nth-of-type(3n)){
                margin-right: 16px;
                @include max-screen($breakpoint-tablet) {
                    margin-right: 0;
                }
            }

            &__img {
                width: 100%;
                position: relative;

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }

            &.active {
                .p-work__content__item__img {
                    &:after {
                        content: "";
                        background: $pink2;
                        opacity: .7;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        transition: all .5s ease;
                    }
                }

                .p-work__content__item__des {
                    visibility: visible;
                    transition: all .5s ease;
                }
            }

            &__des {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                visibility: hidden;
                transition: all .5s ease;

                &__category {
                    background: $pink3;
                    text-align: center;
                    padding: .6em 1.2em;
                    border-radius: 5px;
                    margin-bottom: 1em;
                    color: $fontColorMain;
                }

                &__ttl {
                    text-align: center;
                    color: $fontColorMain;

                }
            }
        }
    }

    &__more {
        text-align: right;

        a {

            &:visited,
            &:link {
                color: $fontColorMain;
            }
        }
    }
}

.p-footer {
    padding: 3em 0;
    background: $fontColorMain;
    color: $pink2;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 0 3em;

        @include max-screen($breakpoint-mobile) {
            padding: 0 1em;
        }

        &__item {
            display: flex;
            align-items: center;

            &:link,
            &:visited {
                color: $pink2;
            }

            @include max-screen($breakpoint-mobile) {
                flex-direction: column;
            }

            &__icon {
                width: 34px;
                margin-right: 1.5em;

                @include max-screen($breakpoint-mobile) {
                    max-width: 28px;
                    height: 28px;
                    margin-right: 0;
                    margin-bottom: .5em;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    &__weixin {
        position: relative;

        &:hover {
            .p-footer__weixin__qr {
                transform: scale(1);
                transform-origin: bottom center;
                opacity: 1;
                transition: all .5s ease-in-out;
            }
        }

        &__qr {
            position: absolute;
            width: 150px;
            max-width: 150px;
            top: -170px;
            right: 0;
            transform: scale(0);
            transform-origin: bottom center;
            opacity: 0;
            transition: all .5s ease-in-out;
        }
    }

    &__bottom {
        text-align: center;
        font-size: 1.6rem;

        @include max-screen($breakpoint-mobile) {
            font-size: 1.4rem;
        }

        &:before {
            content: "";
            width: 100%;
            height: 1px;
            background: $pink2;
            display: block;
            margin: 1em auto;

            @include max-screen($breakpoint-mobile) {
                margin: .5em auto;
            }
        }
    }
}

//archive
.p-category {
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;

    @include max-screen($breakpoint-tablet) {
        justify-content: space-between;
    }

    &__item {
        width: calc((100% - 48px) / 4);
        margin-bottom: 16px;
        text-align: center;
        background: $pink2;
        padding: 1em;
        transition: all .3s ease-in-out;
        &:hover{
            transform: scale(1.1);
            transition: all .3s ease-in-out;
        }

        @include max-screen($breakpoint-tablet) {
            width: calc((100% - 16px) / 2);
        }

        a {
            display: block;

            &:link,
            &:visited {
                color: $fontColorMain;
            }
        }

        &:not(:nth-of-type(4n)) {
            margin-right: 16px;

            @include max-screen($breakpoint-tablet) {
                margin-right: 0;
            }
        }
    }
}

.p-contents {
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;

    @include max-screen($breakpoint-tablet) {
        justify-content: space-between;
    }

    &__item {
        width: calc((100% - 32px) / 3);
        margin-bottom: 16px;
        border: 1px solid $fontColorMain;
        position: relative;

        @include max-screen($breakpoint-tablet) {
            width: calc((100% - 16px) / 2);
        }

        @include max-screen($breakpoint-mobile) {
            width: 100%;
        }

        a {
            display: block;

            &:link,
            &:visited {
                color: $fontColorMain;
            }
        }

        &:not(:nth-of-type(3n)) {
            margin-right: 16px;

            @include max-screen($breakpoint-tablet) {
                margin-right: 0;
            }
        }

        &__category {
            position: absolute;
            padding: .5em 1.5em;
            background: $pink2;
            opacity: .8;
            top: 16px;
            left: 16px;
        }

        &__ttl {
            padding: 1em;
        }
    }
}

.p-pages {
    padding: 2em 0;
    display: flex;
    justify-content: center;

    &__item,
    .page-numbers {
        padding: .5em 1em;
        background: $pink2;

        a {
            display: block;

            &:link,
            &:visited {
                color: $fontColorMain;
            }
        }

        &:not(:last-of-type) {
            margin-right: 16px;

            @include max-screen($breakpoint-mobile) {
                margin-right: 4px;
            }
        }
    }

    .current {
        background: $fontColorMain;
        color: $pink2;
        font-weight: 500;
        margin-right: 16px;

        @include max-screen($breakpoint-mobile) {
            margin-right: 4px;
        }
    }
}

.weixinqr {
    max-width: 200px;
}
