@charset "utf-8";
//色
$fontColorMain:#984b4b;
$color-primary:#ffc4d0;
$white:#fff;
$headerPink:#fdf7f2;
$pink2:#fbe8e7;
$pink3:#ffc4d0;
$gray-10: #2e2e31; 
$gray-6: #7b7a7d;
$gray-4: #a5a5a6;
$gray-3: #bbbbbc;
$gray-2: #d1d0d2;
$gray-1: #e8e7e8;

//width
$width:1280px;