@charset "UTF-8";
/*! tinyreset.css v0.1.0 | github.com/shankariyerr/tinyreset */
a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, ol, output, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::after, blockquote::before, q::after, q::before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* hack IEの使い方
    @include hack-ie(ie11) {
        *::-ms-backdrop, .foo{
            処理
        }
    }
*/
/*メディアクエリ 使い方
.foo {
    @include max-screen($breakpoint-tablet) {
        background: red;
    }
    @include max-screen($breakpoint-mobile) {
        background: pink;
    }
}
*/
.breaking-out, .p-who__ttl--bg, .p-work__ttl--bg {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw); }

.bg-full, .p-who__ttl {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%); }

/*********************************************************************************************************
* Base * サイトのデフォルトのスタイル設定
*********************************************************************************************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  overflow-x: hidden;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", "ＭＳ ゴシック", sans-serif;
  -ms-font-feature-settings: "normal";
  font-weight: 400;
  color: #984b4b; }

a {
  text-decoration: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  input[type="submit"]::-webkit-search-decoration,
  input[type="reset"]::-webkit-search-decoration,
  input[type="button"]::-webkit-search-decoration {
    display: none; }
  input[type="submit"]::focus,
  input[type="reset"]::focus,
  input[type="button"]::focus {
    outline-offset: -2px; }

.l-inner {
  max-width: calc(1280px + (20px*2));
  margin: auto;
  padding: 0 20px; }

@media screen and (max-width: 1024px) {
  .l-main {
    margin-top: 60px; } }

.pc-hide {
  display: none; }
  @media screen and (max-width: 768px) {
    .pc-hide {
      display: block; } }

.sp-hide {
  display: block; }
  @media screen and (max-width: 768px) {
    .sp-hide {
      display: none; } }

.p-header {
  background: #fdf7f2;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: .8;
  -webkit-box-shadow: 0 0 24px 2px rgba(122, 122, 122, 0.2);
  box-shadow: 0 0 24px 2px rgba(122, 122, 122, 0.2); }
  .p-header__inner {
    width: 100%; }
    @media screen and (max-width: 480px) {
      .p-header__inner:before {
        content: "";
        width: 30px;
        height: 30px;
        background: url(images/sp_header_menu.png) top left no-repeat;
        background-size: 30px;
        margin-top: 60px;
        position: absolute;
        top: -45px;
        left: 1em; } }
  .p-header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.0rem;
    font-weight: 500; }
    @media screen and (max-width: 768px) {
      .p-header__nav {
        font-size: 1.6rem; } }
    @media screen and (max-width: 480px) {
      .p-header__nav {
        position: absolute;
        top: 60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 1.6rem;
        background: #fdf7f2;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; } }
    @media screen and (max-width: 480px) {
      .p-header__nav.active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; } }
    .p-header__nav__item {
      padding: .5em 1em;
      display: block; }
      @media screen and (max-width: 480px) {
        .p-header__nav__item {
          width: 100%;
          text-align: center; } }
      @media screen and (max-width: 480px) {
        .p-header__nav__item:not(:last-of-type):after {
          content: "";
          width: 100%;
          height: 1px;
          background: #ffc4d0;
          display: block;
          margin-top: .5em; } }
      .p-header__nav__item:link, .p-header__nav__item:visited {
        color: #984b4b; }
      .p-header__nav__item:hover {
        background: #984b4b;
        color: #fdf7f2; }

.p-fv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .p-fv {
      padding-bottom: 2em; } }
  @media screen and (max-width: 480px) {
    .p-fv {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .p-fv__img {
    width: 48%; }
    @media screen and (max-width: 480px) {
      .p-fv__img {
        width: 100%; } }
    .p-fv__img img {
      width: 100%; }
  .p-fv__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 4em; }
    @media screen and (max-width: 1024px) {
      .p-fv__text {
        margin-left: 2em; } }
    @media screen and (max-width: 480px) {
      .p-fv__text {
        margin-left: 1em;
        margin-right: 1em; } }
  .p-fv__ttl {
    font-size: 7.2rem;
    font-weight: 600;
    display: block;
    text-align: center;
    line-height: .8;
    margin-bottom: .6em; }
    @media screen and (max-width: 1024px) {
      .p-fv__ttl {
        font-size: 6rem; } }
    @media screen and (max-width: 768px) {
      .p-fv__ttl {
        font-size: 4.8rem; } }
    @media screen and (max-width: 480px) {
      .p-fv__ttl {
        font-size: 3.6rem; } }
    .p-fv__ttl--bg {
      display: block;
      font-size: 12rem;
      opacity: .15;
      white-space: nowrap; }
      @media screen and (max-width: 1024px) {
        .p-fv__ttl--bg {
          font-size: 10rem; } }
      @media screen and (max-width: 768px) {
        .p-fv__ttl--bg {
          font-size: 8rem; } }
      @media screen and (max-width: 480px) {
        .p-fv__ttl--bg {
          font-size: 6.0rem; } }
  .p-fv__sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2em;
    word-wrap: break-word; }
    @media screen and (max-width: 1024px) {
      .p-fv__sub {
        font-size: 1.6rem; } }
  .p-fv__btn {
    background: #984b4b;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 1em 2em; }
    @media screen and (max-width: 1024px) {
      .p-fv__btn {
        font-size: 1.6rem; } }

.p-who__ttl {
  background: url(images/pc_who_bg@2x.jpg) top left no-repeat;
  background-size: cover;
  padding: 2em 0 3em;
  font-size: 6rem;
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: .8; }
  @media screen and (max-width: 1024px) {
    .p-who__ttl {
      font-size: 6rem; } }
  @media screen and (max-width: 768px) {
    .p-who__ttl {
      font-size: 4.8rem;
      padding: 1.5em 0 2.5em; } }
  @media screen and (max-width: 480px) {
    .p-who__ttl {
      font-size: 3.6rem; } }
  .p-who__ttl--bg {
    display: block;
    font-size: 12rem;
    opacity: .15;
    white-space: nowrap; }
    @media screen and (max-width: 1024px) {
      .p-who__ttl--bg {
        font-size: 10rem; } }
    @media screen and (max-width: 768px) {
      .p-who__ttl--bg {
        font-size: 8rem; } }
    @media screen and (max-width: 480px) {
      .p-who__ttl--bg {
        font-size: 6.0rem; } }

.p-who__content {
  width: 100%;
  margin-top: -8em; }
  @media screen and (max-width: 768px) {
    .p-who__content {
      margin-top: -4em; } }
  .p-who__content img {
    width: 100%; }

.p-work {
  padding: 6em 0; }
  @media screen and (max-width: 768px) {
    .p-work {
      padding: 3em 0; } }
  .p-work__ttl {
    font-size: 6rem;
    font-weight: 600;
    display: block;
    text-align: center;
    line-height: .8;
    margin-bottom: 1.5em; }
    @media screen and (max-width: 1024px) {
      .p-work__ttl {
        font-size: 6rem; } }
    @media screen and (max-width: 768px) {
      .p-work__ttl {
        font-size: 4.8rem; } }
    @media screen and (max-width: 480px) {
      .p-work__ttl {
        font-size: 3.6rem; } }
    .p-work__ttl--bg {
      display: block;
      font-size: 12rem;
      opacity: .15;
      white-space: nowrap; }
      @media screen and (max-width: 1024px) {
        .p-work__ttl--bg {
          font-size: 10rem; } }
      @media screen and (max-width: 768px) {
        .p-work__ttl--bg {
          font-size: 8rem; } }
      @media screen and (max-width: 480px) {
        .p-work__ttl--bg {
          font-size: 6.0rem; } }
  .p-work__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1em; }
    .p-work__content__item {
      width: calc((100% - 32px) / 3);
      margin-bottom: 16px;
      position: relative; }
      @media screen and (max-width: 768px) {
        .p-work__content__item {
          width: calc((100% - 16px) / 2); } }
      @media screen and (max-width: 480px) {
        .p-work__content__item {
          width: 100%; } }
      .p-work__content__item__img {
        width: 100%; }
        .p-work__content__item__img img {
          width: 100%; }
      .p-work__content__item.active .p-work__content__item__img:after {
        content: "";
        background: #fbe8e7;
        opacity: .5;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      .p-work__content__item.active .p-work__content__item__des {
        visibility: visible;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      .p-work__content__item__des {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 70%;
        visibility: hidden;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
        .p-work__content__item__des__category {
          background: #ffc4d0;
          text-align: center;
          padding: .6em 1.2em;
          border-radius: 5px;
          margin-bottom: 1em; }
        .p-work__content__item__des__ttl {
          text-align: center; }
  .p-work__more {
    text-align: right; }

.p-footer {
  padding: 3em 0;
  background: #984b4b;
  color: #fbe8e7; }
  .p-footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3em; }
    @media screen and (max-width: 480px) {
      .p-footer__top {
        padding: 0 1em; } }
    .p-footer__top__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media screen and (max-width: 480px) {
        .p-footer__top__item {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .p-footer__top__item__icon {
        width: 34px;
        margin-right: 1.5em; }
        @media screen and (max-width: 480px) {
          .p-footer__top__item__icon {
            max-width: 28px;
            height: 28px;
            margin-right: 0;
            margin-bottom: .5em; } }
        .p-footer__top__item__icon img {
          width: 100%; }
  .p-footer__bottom {
    text-align: center;
    font-size: 1.6rem; }
    @media screen and (max-width: 480px) {
      .p-footer__bottom {
        font-size: 1.4rem; } }
    .p-footer__bottom:before {
      content: "";
      width: 100%;
      height: 1px;
      background: #fbe8e7;
      display: block;
      margin: 1em auto; }
      @media screen and (max-width: 480px) {
        .p-footer__bottom:before {
          margin: .5em auto; } }
